@{
    ViewData["Title"] = "Information";
}
<html>
<head>
    <title>
        @ViewData["Title"]
    </title>
</head>
<body>
    <div class="text-center">
        <h2 class="display-4">
            Information concerning logging
        </h2>
        <p class="text-muted" style="width: 50%; margin: auto">
            App contains two filters - one responsible for logging information about controller methods that are being executed
            and second for logging every unique user that is using this web app.
        </p>
    </div>
</body>
</html>
